html,
body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url(images/bg.jpg) repeat top left;
}
/* ************************************************************************** **
 * login
** ************************************************************************** */
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin: -5rem 0 0 -10rem;
    width: 20rem;
}
.login h1 {
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 1;
}
.login input {
    width: 100%;
    height: 3rem;
    margin: 0 0 1rem;
    border: 0;
    border-radius: .25rem;
    text-indent: 3rem;
    font-size: 1rem;
    color: white;
    outline: none;
}
.login input:focus {
    color: yellow;
}
.login input:nth-child(2) {
    background: rgba(255, 255, 255, 0.2) url(images/username.png) no-repeat 0.5rem 0.5rem;
}
.login input:nth-child(2):focus {
    background: rgba(255, 255, 255, 0.4) url(images/username.png) no-repeat 0.5rem 0.5rem;
}
.login input:nth-child(3) {
    background: rgba(255, 255, 255, 0.2) url(images/password.png) no-repeat 0.5rem 0.5rem;
}
.login input:nth-child(3):focus {
    background: rgba(255, 255, 255, 0.4) url(images/password.png) no-repeat 0.5rem 0.5rem;
}
.login .enter {
    height: 3rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: .25rem;
    font-size: 1rem;
    color: white;
    color: green;
    font-weight: bold;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
}

/* ************************************************************************** **
 * dir
** ************************************************************************** */
.dir {
}
.item {
    width: 13.5rem;
    height: 15.25rem;
    padding: 5rem 1rem 1rem;
    float: left;
    background: url(images/dir.png) no-repeat top left;
    background-size: 100% 100%;
}
.item h2 {
    text-align: center;
}
